body {
	font-family: Gotham, Futura, Helvettica, sans-serif;
	background-color: #FFF8DC;
}

header {
	width:85%;
	background-color:black;
	margin-right:auto;
	margin-left:auto;
	color:white;
	padding:10px;
	overflow:hidden;
}

footer{
	width:85%;
	background-color:black;
	color:white;
	text-align:center;
	height:50px;
	padding:10px;
}

h1{
	text-align:left;
	font-size:3em;
	font-weight:bold; 
	padding-top:10px;
	width: 30%;
}
p {
	margin-top:30px; 
	font-size:1.25em;
} 



header h1{
	padding-top:0;
	line-height:1em;
	font-family:Venus Rising;
}

header h2{
	text-transform:uppercase;
	font-size:2.5em;
	line-height:1em;
	font-family: Fortune City;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	font-size: 1.5em;
	margin: 0 auto;
}

nav li{
	float:left;
	margin-right:20px;
	float:right;
	font-weight:bold;
	text-align:10px;
	padding:10px;
}

#wrap { 
	background-color: black;
	margin: auto;
	width: 95%;
	border: 3px solid white;
}

#menu {
	background-color: #8383AC;
	width: 30%;
	overflow:hidden;
	border: 1px solid;
	border-shadow:#88888A;
}

#bigimage{
	float:right;
	overflow:hidden;
	padding: 10px;
	margin: 0px 45px 10px 10px;
}
#content1{
	width: 99%;
	border: 7px solid #33D6FF; 
	background-color:white;
}

#content2{
	width: 99%;
	border: 7px solid #33D6FF;
	background-color:white;
}
#content3{
	width: 99%;
	border: 7px solid #33D6FF; 
	background-color:white;
}
#social_media {
	float:left;
}
	
}
#social_media ul{
	list-style-type: none;
}
#social_media li {
	display:inline;

}

